In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from pathlib import Path

In [2]:
# Read the data into a Pandas DataFrame
death_rate_path = Path(r'C:\Users\laris\Documents\Project3group2\Project_3_Group_2\death_rate\death-rate-of-countries.csv')
death_rate = pd.read_csv(death_rate_path)
death_rate.head()

,Entity,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alochol use,Diet low in fruits,Unsafe water source,...,High body mass index,Unsafe sanitation,No access to handwashing facility,Drug use,Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,9675,5418,7421,247,413,2665,11031,204,3833,812

In [3]:
# Get a brief summary of the DataFrame
death_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 31 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Entity                                    6840 non-null   object
 1   Code                                      6150 non-null   object
 2   Year                                      6840 non-null   int64
 3   Outdoor air pollution                     6840 non-null   int64
 4   High systolic blood pressure              6840 non-null   int64
 5   Diet high in sodium                       6840 non-null   int64
 6   Diet low in whole grains                  6840 non-null   int64
 7   Alochol use                               6840 non-null   int64
 8   Diet low in fruits                        6840 non-null   int64
 9   Unsafe water source                       6840 non-null   int64
 10  Secondhand smoke                          6840 non-null   int64
 11  Low birth weight                          6840 non-null   int64
 12  Child wasting                             6840 non-null   int64
 13  Unsafe sex                                6840 non-null   int64
 14  Diet low in nuts and seeds                6840 non-null   int64
 15  Household air pollution from solid fuels  6840 non-null   int64
 16  Diet low in Vegetables                    6840 non-null   int64
 17  Low physical activity                     6840 non-null   int64
 18  Smoking                                   6840 non-null   int64
 19  High fasting plasma glucose               6840 non-null   int64
 20  Air pollution                             6840 non-null   int64
 21  High body mass index                      6840 non-null   int64
 22  Unsafe sanitation                         6840 non-null   int64
 23  No access to handwashing facility         6840 non-null   int64
 24  Drug use                                  6840 non-null   int64
 25  Low bone mineral density                  6840 non-null   int64
 26  Vitamin A deficiency                      6840 non-null   int64
 27  Child stunting                            6840 non-null   int64
 28  Discontinued breastfeeding                6840 non-null   int64
 29  Non-exclusive breastfeeding               6840 non-null   int64
 30  Iron deficiency                           6840 non-null   int64
dtypes: int64(29), object(2)
memory usage: 1.6+ MB

In [6]:
#Check and Remove any Duplicates in the dataset
#Check for duplicate rows
duplicate_rows = death_rate[death_rate.duplicated()]
print("Duplicate Rows:")
print(duplicate_rows)

Duplicate Rows:
Empty DataFrame
Columns: [Entity, Code, Year, Outdoor air pollution, High systolic blood pressure, Diet high in sodium , Diet low in whole grains, Alochol use, Diet low in fruits, Unsafe water source, Secondhand smoke, Low birth weight, Child wasting, Unsafe sex, Diet low in nuts and seeds, Household air pollution from solid fuels, Diet low in Vegetables, Low physical activity, Smoking, High fasting plasma glucose, Air pollution, High body mass index, Unsafe sanitation, No access to handwashing facility, Drug use, Low bone mineral density, Vitamin A deficiency, Child stunting, Discontinued breastfeeding, Non-exclusive breastfeeding, Iron deficiency]
Index: []

[0 rows x 31 columns]

In [7]:
#Check and Remove any Duplicates in the dataset
#Check for duplicate rows
empty_cells = death_rate.isna().any()
print("Empty Cells:")
print(empty_cells)

Empty Cells:
Entity                                      False
Code                                         True
Year                                        False
Outdoor air pollution                       False
High systolic blood pressure                False
Diet high in sodium                         False
Diet low in whole grains                    False
Alochol use                                 False
Diet low in fruits                          False
Unsafe water source                         False
Secondhand smoke                            False
Low birth weight                            False
Child wasting                               False
Unsafe sex                                  False
Diet low in nuts and seeds                  False
Household air pollution from solid fuels    False
Diet low in Vegetables                      False
Low physical activity                       False
Smoking                                     False
High fasting plasma glucose                 False
Air pollution                               False
High body mass index                        False
Unsafe sanitation                           False
No access to handwashing facility           False
Drug use                                    False
Low bone mineral density                    False
Vitamin A deficiency                        False
Child stunting                              False
Discontinued breastfeeding                  False
Non-exclusive breastfeeding                 False
Iron deficiency                             False
dtype: bool

In [8]:
# Merge the Outdoor air pollution and Air pollution into the Air_Pollution
death_rate['Air_Pollution'] = death_rate['Outdoor air pollution'] + death_rate['Air pollution']
death_rate.head()

,Entity,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alochol use,Diet low in fruits,Unsafe water source,...,Unsafe sanitation,No access to handwashing facility,Drug use,Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency,Air_Pollution
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,2798,4825,174,389,2016,7686,107,2216,564,40400
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,3254,5127,188,389,2056,7886,121,2501,611,41537
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,4042,5889,211,393,2100,8568,150,3053,700,44567
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,5392,7007,232,411,2316,9875,204,3726,773,48111
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,5418,7421,247,413,2665,11031,204,3833,812,50422

In [9]:
# Check for the columns name 
column_names = death_rate.columns
column_names

Index(['Entity', 'Code', 'Year', 'Outdoor air pollution',
       'High systolic blood pressure', 'Diet high in sodium ',
       'Diet low in whole grains', 'Alochol use', 'Diet low in fruits',
       'Unsafe water source', 'Secondhand smoke', 'Low birth weight',
       'Child wasting', 'Unsafe sex', 'Diet low in nuts and seeds',
       'Household air pollution from solid fuels', 'Diet low in Vegetables',
       'Low physical activity', 'Smoking', 'High fasting plasma glucose',
       'Air pollution', 'High body mass index', 'Unsafe sanitation',
       'No access to handwashing facility', 'Drug use',
       'Low bone mineral density', 'Vitamin A deficiency', 'Child stunting',
       'Discontinued breastfeeding', 'Non-exclusive breastfeeding',
       'Iron deficiency', 'Air_Pollution'],
      dtype='object')

In [10]:
# Merge all Diets into Poor_Nutrition
death_rate['Poor_Nutrition'] = death_rate['Diet low in nuts and seeds'] + death_rate['Diet low in whole grains'] + death_rate['Diet low in fruits'] + death_rate['Diet low in Vegetables'] + death_rate['Diet high in sodium '] 
death_rate.head()

,Entity,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alochol use,Diet low in fruits,Unsafe water source,...,No access to handwashing facility,Drug use,Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency,Air_Pollution,Poor_Nutrition
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,4825,174,389,2016,7686,107,2216,564,40400,17305
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,5127,188,389,2056,7886,121,2501,611,41537,17633
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,5889,211,393,2100,8568,150,3053,700,44567,18153
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,7007,232,411,2316,9875,204,3726,773,48111,18804
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,7421,247,413,2665,11031,204,3833,812,50422,19449

In [11]:
# Merge Non-exclusive breastfeeding and Discontinued breastfeeding into Partial_breastfeeding
death_rate['Partial_breastfeeding']= death_rate['Non-exclusive breastfeeding'] + death_rate['Discontinued breastfeeding']
death_rate.head()

,Entity,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alochol use,Diet low in fruits,Unsafe water source,...,Drug use,Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency,Air_Pollution,Poor_Nutrition,Partial_breastfeeding
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,174,389,2016,7686,107,2216,564,40400,17305,2323
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,188,389,2056,7886,121,2501,611,41537,17633,2622
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,211,393,2100,8568,150,3053,700,44567,18153,3203
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,232,411,2316,9875,204,3726,773,48111,18804,3930
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,247,413,2665,11031,204,3833,812,50422,19449,4037

In [12]:
# Merge Vitamin A deficiency and Iron defiency into Elements_Deficiency
death_rate['Elements_Deficiency']= death_rate['Vitamin A deficiency'] + death_rate['Iron deficiency']
death_rate.head()

,Entity,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alochol use,Diet low in fruits,Unsafe water source,...,Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency,Air_Pollution,Poor_Nutrition,Partial_breastfeeding,Elements_Deficiency
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,389,2016,7686,107,2216,564,40400,17305,2323,2580
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,389,2056,7886,121,2501,611,41537,17633,2622,2667
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,393,2100,8568,150,3053,700,44567,18153,3203,2800
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,411,2316,9875,204,3726,773,48111,18804,3930,3089
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,413,2665,11031,204,3833,812,50422,19449,4037,3477

In [13]:
# Drop all the columns you merge into it
death_rate = death_rate.drop(columns=['Discontinued breastfeeding','Non-exclusive breastfeeding','Vitamin A deficiency','Iron deficiency','Outdoor air pollution','Diet high in sodium ','Diet low in whole grains', 'Diet low in fruits', 'Diet low in Vegetables', 'Diet low in nuts and seeds', 'Air pollution'])
death_rate.head()

,Entity,Code,Year,High systolic blood pressure,Alochol use,Unsafe water source,Secondhand smoke,Low birth weight,Child wasting,Unsafe sex,...,High body mass index,Unsafe sanitation,No access to handwashing facility,Drug use,Low bone mineral density,Child stunting,Air_Pollution,Poor_Nutrition,Partial_breastfeeding,Elements_Deficiency
0,Afghanistan,AFG,1990,25633,356,3702,4794,16135,19546,351,...,9518,2798,4825,174,389,7686,40400,17305,2323,2580
1,Afghanistan,AFG,1991,25872,364,4309,4921,17924,20334,361,...,9489,3254,5127,188,389,7886,41537,17633,2622,2667
2,Afghanistan,AFG,1992,26309,376,5356,5279,21200,22895,378,...,9528,4042,5889,211,393,8568,44567,18153,3203,2800
3,Afghanistan,AFG,1993,26961,389,7152,5734,23795,27002,395,...,9611,5392,7007,232,411,9875,48111,18804,3930,3089
4,Afghanistan,AFG,1994,27658,399,7192,6050,24866,29205,410,...,9675,5418,7421,247,413,11031,50422,19449,4037,3477

In [14]:
death_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 24 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Entity                                    6840 non-null   object
 1   Code                                      6150 non-null   object
 2   Year                                      6840 non-null   int64
 3   High systolic blood pressure              6840 non-null   int64
 4   Alochol use                               6840 non-null   int64
 5   Unsafe water source                       6840 non-null   int64
 6   Secondhand smoke                          6840 non-null   int64
 7   Low birth weight                          6840 non-null   int64
 8   Child wasting                             6840 non-null   int64
 9   Unsafe sex                                6840 non-null   int64
 10  Household air pollution from solid fuels  6840 non-null   int64
 11  Low physical activity                     6840 non-null   int64
 12  Smoking                                   6840 non-null   int64
 13  High fasting plasma glucose               6840 non-null   int64
 14  High body mass index                      6840 non-null   int64
 15  Unsafe sanitation                         6840 non-null   int64
 16  No access to handwashing facility         6840 non-null   int64
 17  Drug use                                  6840 non-null   int64
 18  Low bone mineral density                  6840 non-null   int64
 19  Child stunting                            6840 non-null   int64
 20  Air_Pollution                             6840 non-null   int64
 21  Poor_Nutrition                            6840 non-null   int64
 22  Partial_breastfeeding                     6840 non-null   int64
 23  Elements_Deficiency                       6840 non-null   int64
dtypes: int64(22), object(2)
memory usage: 1.3+ MB

In [15]:
# Renaming column for better understanding
death_rate_new = death_rate.rename(columns={"Entity": "Country", "Code": "Country_code", "High systolic blood pressure": "High_Blood_Pressure", 
                                            "Alochol use": "Alcohol", "Unsafe water source": "Toxic_Water", "Secondhand smoke": "Secondhand_smoke",
                                            "Low birth weight": "Low_birth_weight", "Child wasting": "Child_malnutrition", "Unsafe sex": "Unsafe_sex",
                                            "Household air pollution from solid fuels": "Household_air_pollution", "Low physical activity": "Sedentary_lifestyle",
                                            "High fasting plasma glucose": "Hyperglycemia","High body mass index": "High_BMI", "Unsafe sanitation": "Unsafe_sanitation",
                                            "No access to handwashing facility": "Lack_of_handwashing_facility", "Drug use": "Drugs", "Low bone mineral density": "Osteoporosis",
                                            "Child stunting": "Stunting_of_growth"})
death_rate_new.head()

,Country,Country_code,Year,High_Blood_Pressure,Alcohol,Toxic_Water,Secondhand_smoke,Low_birth_weight,Child_malnutrition,Unsafe_sex,...,High_BMI,Unsafe_sanitation,Lack_of_handwashing_facility,Drugs,Osteoporosis,Stunting_of_growth,Air_Pollution,Poor_Nutrition,Partial_breastfeeding,Elements_Deficiency
0,Afghanistan,AFG,1990,25633,356,3702,4794,16135,19546,351,...,9518,2798,4825,174,389,7686,40400,17305,2323,2580
1,Afghanistan,AFG,1991,25872,364,4309,4921,17924,20334,361,...,9489,3254,5127,188,389,7886,41537,17633,2622,2667
2,Afghanistan,AFG,1992,26309,376,5356,5279,21200,22895,378,...,9528,4042,5889,211,393,8568,44567,18153,3203,2800
3,Afghanistan,AFG,1993,26961,389,7152,5734,23795,27002,395,...,9611,5392,7007,232,411,9875,48111,18804,3930,3089
4,Afghanistan,AFG,1994,27658,399,7192,6050,24866,29205,410,...,9675,5418,7421,247,413,11031,50422,19449,4037,3477

In [16]:
# Get a brief summary of the new DataFrame
death_rate_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       6840 non-null   object
 1   Country_code                  6150 non-null   object
 2   Year                          6840 non-null   int64
 3   High_Blood_Pressure           6840 non-null   int64
 4   Alcohol                       6840 non-null   int64
 5   Toxic_Water                   6840 non-null   int64
 6   Secondhand_smoke              6840 non-null   int64
 7   Low_birth_weight              6840 non-null   int64
 8   Child_malnutrition            6840 non-null   int64
 9   Unsafe_sex                    6840 non-null   int64
 10  Household_air_pollution       6840 non-null   int64
 11  Sedentary_lifestyle           6840 non-null   int64
 12  Smoking                       6840 non-null   int64
 13  Hyperglycemia                 6840 non-null   int64
 14  High_BMI                      6840 non-null   int64
 15  Unsafe_sanitation             6840 non-null   int64
 16  Lack_of_handwashing_facility  6840 non-null   int64
 17  Drugs                         6840 non-null   int64
 18  Osteoporosis                  6840 non-null   int64
 19  Stunting_of_growth            6840 non-null   int64
 20  Air_Pollution                 6840 non-null   int64
 21  Poor_Nutrition                6840 non-null   int64
 22  Partial_breastfeeding         6840 non-null   int64
 23  Elements_Deficiency           6840 non-null   int64
dtypes: int64(22), object(2)
memory usage: 1.3+ MB

In [17]:
missing_rows = death_rate_new[death_rate_new.isna().any(axis=1)]
# Extract the 'Country' column from the missing rows
missing_countries = missing_rows['Country']
# Display the countries with missing values
print("Countries with missing values:")
print(missing_countries)

Countries with missing values:
30                African Region (WHO)
31                African Region (WHO)
32                African Region (WHO)
33                African Region (WHO)
34                African Region (WHO)
                     ...
6745    World Bank Upper Middle Income
6746    World Bank Upper Middle Income
6747    World Bank Upper Middle Income
6748    World Bank Upper Middle Income
6749    World Bank Upper Middle Income
Name: Country, Length: 690, dtype: object

In [18]:
#
country_mapping = death_rate_new['Country'].isin(['England', 'Northern Ireland', 'Scotland', 'Wales'])
death_rate_new.loc[country_mapping, 'Country_code'] = 'UK'

In [19]:
death_rate_new

,Country,Country_code,Year,High_Blood_Pressure,Alcohol,Toxic_Water,Secondhand_smoke,Low_birth_weight,Child_malnutrition,Unsafe_sex,...,High_BMI,Unsafe_sanitation,Lack_of_handwashing_facility,Drugs,Osteoporosis,Stunting_of_growth,Air_Pollution,Poor_Nutrition,Partial_breastfeeding,Elements_Deficiency
0,Afghanistan,AFG,1990,25633,356,3702,4794,16135,19546,351,...,9518,2798,4825,174,389,7686,40400,17305,2323,2580
1,Afghanistan,AFG,1991,25872,364,4309,4921,17924,20334,361,...,9489,3254,5127,188,389,7886,41537,17633,2622,2667
2,Afghanistan,AFG,1992,26309,376,5356,5279,21200,22895,378,...,9528,4042,5889,211,393,8568,44567,18153,3203,2800
3,Afghanistan,AFG,1993,26961,389,7152,5734,23795,27002,395,...,9611,5392,7007,232,411,9875,48111,18804,3930,3089
4,Afghanistan,AFG,1994,27658,399,7192,6050,24866,29205,410,...,9675,5418,7421,247,413,11031,50422,19449,4037,3477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,11483,4854,4336,1614,8614,6402,25925,...,5636,2879,4328,1068,407,730,16081,5746,755,420
6836,Zimbabwe,ZWE,2016,11663,4915,4244,1625,8397,6339,24297,...,5849,2798,4295,1042,415,674,15912,5860,720,376
6837,Zimbabwe,ZWE,2017,11819,4992,4193,1625,8238,6145,22279,...,6047,2744,4251,1007,424,629,15626,5958,697,349
6838,Zimbabwe,ZWE,2018,12002,5044,4013,1628,8038,5919,20104,...,6248,2608,4153,969,434,607,15414,6073,661,346
6839,Zimbabwe,ZWE,2019,12241,5156,3914,1646,7946,5801,19025,...,6475,2531,4113,963,438,585,15347,6213,647,340

In [20]:
#Check and Remove any Duplicates in the dataset
#Check for duplicate rows
empty_cells = death_rate_new.isna().any()
print("Empty Cells:")
print(empty_cells)

Empty Cells:
Country                         False
Country_code                     True
Year                            False
High_Blood_Pressure             False
Alcohol                         False
Toxic_Water                     False
Secondhand_smoke                False
Low_birth_weight                False
Child_malnutrition              False
Unsafe_sex                      False
Household_air_pollution         False
Sedentary_lifestyle             False
Smoking                         False
Hyperglycemia                   False
High_BMI                        False
Unsafe_sanitation               False
Lack_of_handwashing_facility    False
Drugs                           False
Osteoporosis                    False
Stunting_of_growth              False
Air_Pollution                   False
Poor_Nutrition                  False
Partial_breastfeeding           False
Elements_Deficiency             False
dtype: bool

In [21]:
country_list = ['England', 'Northern Ireland', 'Scotland', 'Wales']

specific_rows = death_rate_new[death_rate_new['Country'].isin(country_list)]
# Display the specific
specific_rows

,Country,Country_code,Year,High_Blood_Pressure,Alcohol,Toxic_Water,Secondhand_smoke,Low_birth_weight,Child_malnutrition,Unsafe_sex,...,High_BMI,Unsafe_sanitation,Lack_of_handwashing_facility,Drugs,Osteoporosis,Stunting_of_growth,Air_Pollution,Poor_Nutrition,Partial_breastfeeding,Elements_Deficiency
1800,England,UK,1990,156715,6497,6,12956,2162,193,2506,...,52247,1,326,1381,2186,7,72794,81970,31,7
1801,England,UK,1991,154407,6782,7,12690,2053,178,2499,...,51932,1,337,1442,2188,6,71231,80426,28,6
1802,England,UK,1992,151336,7204,8,12423,1881,162,2461,...,51460,1,351,1509,2182,5,69210,78550,24,6
1803,England,UK,1993,149561,7947,9,12437,1822,157,2410,...,51413,2,393,1578,2228,5,68378,77374,23,5
1804,England,UK,1994,143776,8692,10,12031,1780,151,2390,...,50151,2,408,1685,2226,4,65565,74063,22,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6565,Wales,UK,2015,5019,1234,3,470,59,9,101,...,2705,1,26,324,269,0,1602,2889,1,0
6566,Wales,UK,2016,4948,1251,2,469,56,9,100,...,2708,1,26,338,271,0,1477,2852,1,0
6567,Wales,UK,2017,4947,1268,2,470,55,9,99,...,2740,1,27,346,271,0,1400,2858,1,0
6568,Wales,UK,2018,5133,1274,2,482,53,9,100,...,2824,1,27,347,274,0,1467,2958,1,0
6569,Wales,UK,2019,5310,1291,2,492,52,9,100,...,2902,1,27,349,280,0,1529,3040,1,0

In [26]:
#move regions out and create a new dataFRAME for only country
rows_with_no_country_code = death_rate_new[death_rate_new['Country_code'].isna()]
new_df = rows_with_no_country_code.copy()
new_df.head()

,Country,Country_code,Year,High_Blood_Pressure,Alcohol,Toxic_Water,Secondhand_smoke,Low_birth_weight,Child_malnutrition,Unsafe_sex,...,High_BMI,Unsafe_sanitation,Lack_of_handwashing_facility,Drugs,Osteoporosis,Stunting_of_growth,Air_Pollution,Poor_Nutrition,Partial_breastfeeding,Elements_Deficiency
30,African Region (WHO),NaN,1990,356866,175615,809960,53459,625281,1190356,217509,...,119182,604349,473096,8214,13858,305355,962836,186387,179516,119752
31,African Region (WHO),NaN,1991,365975,179795,829073,53898,633571,1205694,275439,...,123606,618112,481775,10201,14292,308125,974433,190359,186202,119610
32,African Region (WHO),NaN,1992,377948,184243,819085,54830,641700,1200327,344159,...,129692,610436,480386,12749,14774,307088,989598,195593,183508,118139
33,African Region (WHO),NaN,1993,386490,186482,815640,54977,652140,1196378,421920,...,132880,607549,480444,15605,15037,305786,1000834,198993,183347,116518
34,African Region (WHO),NaN,1994,398794,191043,832168,55818,664160,1199815,508319,...,139411,619531,488628,19030,15490,306251,1016189,203732,185395,116281

In [30]:
death_rate_clean = death_rate_new.dropna(subset=['Country_code'])
death_rate_clean

,Country,Country_code,Year,High_Blood_Pressure,Alcohol,Toxic_Water,Secondhand_smoke,Low_birth_weight,Child_malnutrition,Unsafe_sex,...,High_BMI,Unsafe_sanitation,Lack_of_handwashing_facility,Drugs,Osteoporosis,Stunting_of_growth,Air_Pollution,Poor_Nutrition,Partial_breastfeeding,Elements_Deficiency
0,Afghanistan,AFG,1990,25633,356,3702,4794,16135,19546,351,...,9518,2798,4825,174,389,7686,40400,17305,2323,2580
1,Afghanistan,AFG,1991,25872,364,4309,4921,17924,20334,361,...,9489,3254,5127,188,389,7886,41537,17633,2622,2667
2,Afghanistan,AFG,1992,26309,376,5356,5279,21200,22895,378,...,9528,4042,5889,211,393,8568,44567,18153,3203,2800
3,Afghanistan,AFG,1993,26961,389,7152,5734,23795,27002,395,...,9611,5392,7007,232,411,9875,48111,18804,3930,3089
4,Afghanistan,AFG,1994,27658,399,7192,6050,24866,29205,410,...,9675,5418,7421,247,413,11031,50422,19449,4037,3477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,11483,4854,4336,1614,8614,6402,25925,...,5636,2879,4328,1068,407,730,16081,5746,755,420
6836,Zimbabwe,ZWE,2016,11663,4915,4244,1625,8397,6339,24297,...,5849,2798,4295,1042,415,674,15912,5860,720,376
6837,Zimbabwe,ZWE,2017,11819,4992,4193,1625,8238,6145,22279,...,6047,2744,4251,1007,424,629,15626,5958,697,349
6838,Zimbabwe,ZWE,2018,12002,5044,4013,1628,8038,5919,20104,...,6248,2608,4153,969,434,607,15414,6073,661,346
6839,Zimbabwe,ZWE,2019,12241,5156,3914,1646,7946,5801,19025,...,6475,2531,4113,963,438,585,15347,6213,647,340

In [31]:
#Check and Remove any Duplicates in the dataset
#Check for duplicate rows
empty_cells = death_rate_clean.isna().any()
print("Empty Cells:")
print(empty_cells)

Empty Cells:
Country                         False
Country_code                    False
Year                            False
High_Blood_Pressure             False
Alcohol                         False
Toxic_Water                     False
Secondhand_smoke                False
Low_birth_weight                False
Child_malnutrition              False
Unsafe_sex                      False
Household_air_pollution         False
Sedentary_lifestyle             False
Smoking                         False
Hyperglycemia                   False
High_BMI                        False
Unsafe_sanitation               False
Lack_of_handwashing_facility    False
Drugs                           False
Osteoporosis                    False
Stunting_of_growth              False
Air_Pollution                   False
Poor_Nutrition                  False
Partial_breastfeeding           False
Elements_Deficiency             False
dtype: bool

In [33]:
#Save 
death_rate_clean.to_csv(r"C:\Users\laris\Documents\Project3group2\Project_3_Group_2\death_rate\death_rate_clean.csv", index=False)

#check for micronesia later

In [48]:
#Create new DataFrame
death_clean = death_rate_clean.copy()
death_clean

,Country,Country_code,Year,High_Blood_Pressure,Alcohol,Toxic_Water,Secondhand_smoke,Low_birth_weight,Child_malnutrition,Unsafe_sex,...,High_BMI,Unsafe_sanitation,Lack_of_handwashing_facility,Drugs,Osteoporosis,Stunting_of_growth,Air_Pollution,Poor_Nutrition,Partial_breastfeeding,Elements_Deficiency
0,Afghanistan,AFG,1990,25633,356,3702,4794,16135,19546,351,...,9518,2798,4825,174,389,7686,40400,17305,2323,2580
1,Afghanistan,AFG,1991,25872,364,4309,4921,17924,20334,361,...,9489,3254,5127,188,389,7886,41537,17633,2622,2667
2,Afghanistan,AFG,1992,26309,376,5356,5279,21200,22895,378,...,9528,4042,5889,211,393,8568,44567,18153,3203,2800
3,Afghanistan,AFG,1993,26961,389,7152,5734,23795,27002,395,...,9611,5392,7007,232,411,9875,48111,18804,3930,3089
4,Afghanistan,AFG,1994,27658,399,7192,6050,24866,29205,410,...,9675,5418,7421,247,413,11031,50422,19449,4037,3477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,11483,4854,4336,1614,8614,6402,25925,...,5636,2879,4328,1068,407,730,16081,5746,755,420
6836,Zimbabwe,ZWE,2016,11663,4915,4244,1625,8397,6339,24297,...,5849,2798,4295,1042,415,674,15912,5860,720,376
6837,Zimbabwe,ZWE,2017,11819,4992,4193,1625,8238,6145,22279,...,6047,2744,4251,1007,424,629,15626,5958,697,349
6838,Zimbabwe,ZWE,2018,12002,5044,4013,1628,8038,5919,20104,...,6248,2608,4153,969,434,607,15414,6073,661,346
6839,Zimbabwe,ZWE,2019,12241,5156,3914,1646,7946,5801,19025,...,6475,2531,4113,963,438,585,15347,6213,647,340

In [49]:
country_deaths= death_clean[["Country", "Country_code"]].drop_duplicates().reset_index(drop=True)
country_deaths

            Country Country_code
0       Afghanistan          AFG
1           Albania          ALB
2           Algeria          DZA
3    American Samoa          ASM
4           Andorra          AND
..              ...          ...
204           Wales           UK
205           World     OWID_WRL
206           Yemen          YEM
207          Zambia          ZMB
208        Zimbabwe          ZWE

[209 rows x 2 columns]

In [45]:
#create a primary key for this newdata

            Country Country_code
0       Afghanistan          AFG
1           Albania          ALB
2           Algeria          DZA
3    American Samoa          ASM
4           Andorra          AND
..              ...          ...
204           Wales           UK
205           World     OWID_WRL
206           Yemen          YEM
207          Zambia          ZMB
208        Zimbabwe          ZWE

[209 rows x 2 columns]

TypeError: Series.isin() missing 1 required positional argument: 'values'

In [ ]:
#Extract how many alcohol's deaths for the last 5 years in USA(or each country)

In [ ]:
#Create a DataFrame with the alcohol's death for the last 5 years in USA(or each country)